Nodeflows.txt
[{"id":"872b4bc.d3d4cb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"872b4bc.d3d4cb8","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":100,"y":80,"wires":[["c0ba9bdd.3fede8"]]},{"id":"295d7ac8.d60636","type":"ibmiot in","z":"872b4bc.d3d4cb8","authentication":"apiKey","apiKey":"10853a8.539d0c6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":240,"wires":[["7b4bbb1f.d057f4","e36a72b6.c121e"]]},{"id":"e36a72b6.c121e","type":"function","z":"872b4bc.d3d4cb8","name":"Humidity","func":"msg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["a9c8e206.dcaf7","c0ba9bdd.3fede8"]]},{"id":"7b4bbb1f.d057f4","type":"function","z":"872b4bc.d3d4cb8","name":"Temperature","func":"msg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":180,"wires":[["e8ebcc01.8cb0f","c0ba9bdd.3fede8"]]},{"id":"a9c8e206.dcaf7","type":"ui_gauge","z":"872b4bc.d3d4cb8","name":"","group":"683c92dc.40f8fc","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"e8ebcc01.8cb0f","type":"ui_gauge","z":"872b4bc.d3d4cb8","name":"","group":"c3b6bb51.867008","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"100","x":450,"y":120,"wires":[]},{"id":"c0ba9bdd.3fede8","type":"debug","z":"872b4bc.d3d4cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"10853a8.539d0c6","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"683c92dc.40f8fc","type":"ui_group","z":"","name":"Default","tab":"dca66ef1.c002c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3b6bb51.867008","type":"ui_group","z":"","name":"Default","tab":"ed9503d8.789aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca66ef1.c002c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed9503d8.789aa","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]